
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark bb" id="xy">
  <button class="navbar-toggler" id="icon" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
     <span class="navbar-toggler-icon"></span>
     </button>

    <div class="collapse navbar-collapse" id="#collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/admin-user" id="colarr">Users management</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin-product" id="colarr">product management</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin-order" id="colarr">Order management</a></li>
      </ul>

    </div>
  </nav>
  <br>
  <br>
   <div class="container" >
    <img src="../../../assets/newsletter-bg.jpg" style="width:100%; height:100% ;">
  </div> 
