<img src="../../../assets/images/Order-Delivary.png" style="width:100%; height:50%; ">

<br>

<div class="conatiner InfoSection">
  <div class="row content ">
    <div class="col-md-6">
      <img src="../../../assets/images/Healthy-Food-For-Growing.png" style="width:100%; height:50%; ">
    </div>
    <div class="col-md-6">
      <br>
      <p>WHAT TO EXPECT?</p>
      <h1><strong>HEALTHY FOOD FOR GROWING</strong></h1>
      <p>We know, you ensure the food on your table is loaded with nutrition, nourishment, and a dash of love that
        brings the family together! You go out of your way to get the freshest Vegetables and ensure cleanliness in
        cooking, serving, and storing – as only the best is acceptable for the health and safety of your loved ones.
        However, now more than ever, post all that effort, one is given to wonder- is it safe?</p>
    </div>

    <div class="col-md-6">
      <p>CLEAN & HYGIENIC</p>
      <h1><strong>SAFE AND FRESH VEGETABLES</strong></h1>
      <p><b style="color: green;">Sabji-Mart</b> aims to contribute by bringing fresh vegetables. As it is important to
        look for freshness in all vegetables we consume. Check the characteristic signs of freshness such as bright,
        lively color in the vegetable and look to see if the vegetable is crisp and free of soft spots. Vegetables are
        at their peak during their harvest season, this is also when vegetables are the most affordable to purchase. One
        of the most important reasons for purchasing fresh is the nutritional value that freshness.</p>
    </div>
    <br>
    <div class="col-md-6">
      <img src="../../../assets/images/Seeds8.jpg" style="width:100%; height:50%; ">
    </div>
  </div>
  <img src="../../../assets/images/AboutUs-TermsAndContitions.png" style="width:100%; height:50%; ">
  <div class="row content ">
    <div class="col-md-6">
      <br>
      <h1><strong>TERMS AND Condidtions</strong></h1>
      <p>Your use / access of the Website, its related sites and hyperlinks, shall be governed by the terms and
        conditions, policies, rules of Sabji-Mart ("Terms") posted on the Website from time to time. These Terms applies
        to all users (whether Registered user or Guest User) of the Website. Please read the Terms and conditions very
        carefully before using the Website as your use of the Website is subject to your acceptance of and compliance
        with the Terms. If you do not agree or are not willing to be bound by the terms and conditions of this User
        Agreement and any Rules and Policies of KisanKonnect, please do not click on the "I Accept" button/check box and
        on the "Continue" button or "Pay Now" button and do not subscribe or seek to obtain access to or otherwise use
        the Website. By subscribing to or using the website or any of our services through the Website you agree that
        you have read, understood and are bound by the Terms, Policies, directions of KisanKonnect regardless of how you
        subscribe to or use the Website. This Agreement comes into effect upon your "Acceptance" of these terms and
        conditions ("Terms") however KisanKonnect at its sole discretion reserves its right not to accept a user from
        registering on the Website without assigning any reason thereof.</p>
    </div>
    <div class="col-md-6">
      <br>
      <h1><strong>PRIVACY POLICY</strong></h1>
      <p><strong>1. Your Privacy - Our Commitment: </strong>We respect and value your trust in us and your privacy is
        very important to us. We do not publish, sell or share your personal information to third parties for their
        marketing purposes without your explicit consent. Please read this Privacy Policy to learn more about the ways
        in which we use and protect your personal information.</p>
      <p><strong>2. Use of the Information Collected: </strong>We use personal information to provide the services you
        request. To the extent we use your personal information for marketing and advertisement to you, we will provide
        you the ability to opt-out of such uses. You agree that we may use personal information about you to improve our
        marketing and promotional efforts, to analyze site usage, improve the Website's content and product offerings,
        and customize the Website's content, layout, and services. You agree that we may use your personal information
        to contact you.</p>
    </div>
  </div>
</div>


<!-- <img src="../../../assets/images/AboutUs-FAQ.png" style="width:100%; height:50%; "> -->
