

<div class="footer bg-success">
  <div class="container text-center">
    <h2><strong> &copy; Sabji-Mart | 2022-2025 </strong></h2>
    <a href="https://www.facebook.com/"><i class='fab fa-facebook-square' style='font-size:36px; padding: left 0px;'></i></a>
    <a href="https://www.instagram.com/"><i class='fab fa-instagram' style='font-size:36px'></i></a>
    <a href="https://twitter.com/"><i class='fab fa-twitter-square' style='font-size:36px'></i></a>
    <br>

    <br>
    <h3>All Rights Reserved | Terms and Conditions Applied</h3>
    <a href="#"><i class='fas fa-arrow-alt-circle-up' style='font-size:36px'></i></a>
  </div>

</div>
