<br>
<br>
<br>
<br>

<ng-container *ngIf="products.length !=0">
  <div class="container">
    <div class="card-table">
      <div class="class cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.product.title}}</td>
              <td><img style="width: 120px;" src="{{item.product.image}}" alt=""></td>
              <td style="width:25%;">{{item.product.description}}</td>
              <td style="width:12%;">{{item.product.price}}</td>
              <td style="width:12%;">{{item.quantity}}</td>
              <td style="width:12%;">{{item.product.price * item.quantity}}</td>
              <td>
                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
              <td><button routerLink="/products" class="btn btn-primary">Shop More</button></td>
              <td><button routerLink="/order" class="btn btn-success">Checkout</button></td>
              <td><strong>Grand Total {{grandtotal}} Rs</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card" id="emptyCart">
    </div>
    <div class="center">
      <img src="../../../assets/home-img.png" style="width: 50%; height: 50%;"alt="">
      <h1>Your cart is empty!</h1>
      <!-- <h3>Add item to it now</h3> -->
      <button routerLink="/products" class="btn btn-success">Add item to Cart</button>

    </div>
  </div>
</ng-container>

